@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html { height: 100%; }
body { font-family: 'Poppins', sans-serif; font-size: 15px; background-color: #FFF; padding: 0px; margin: 0px; height: 100%; }
header { width: auto; }
.header-bar-under { width: auto; padding-top: 12px; padding-bottom: 12px; color: #FFF; background-color: #0C356A; background: rgb(12,53,106); background: linear-gradient(180deg, rgba(12,53,106,1) 0%, rgba(6,26,51,1) 100%); }
.header-bar-above { width: auto; background: rgb(255,196,54); background: radial-gradient(circle, rgba(255,196,54,1) 0%, rgba(135,104,30,1) 100%); font-size: 12px; }
.floater { width: 55%; margin-left: auto; margin-right: auto; }
.header-bar-under-grid { display: grid; grid-template-columns: 20% 1fr; gap: 12px; align-items: center; }
.header-left { text-align: left; }
.header-right { text-align: right; }
.header-right i { margin-right: 8px; }
.header-bar-above-grid { display: grid; grid-template-columns: 50% 50%; gap: 12px; align-items: center; }
.img-hover { opacity: 1; }
.img-hover:hover { opacity: 0.6; }
.page-title-block { width: auto; background-color: #D8E8FA; height: 135px; align-items: center; text-align: center; }
.page-title-block-title { font-size: 60px; font-weight: 200; }
.page-title-block-nav { font-size: 14px !important; }
.page-title-block-nav-selected { font-weight: bold; color: #000; }
.drop-down-menu { width: fit-content; border-radius: 5px; background-color: #FFF; padding-top: 5px; padding-bottom: 5px; position: absolute; top: 200px; left: 200px; z-index: 20; border: 1px solid #606060; display: none; }
.drop-down-menu-items i { width: 24px; }
article { width: auto; margin-top: 40px; }
.blocks-grid { display: grid; grid-template-columns: 300px 1fr 300px; gap: 20px; }
.blocks-grid-left-center { display: grid; grid-template-columns: 300px 1fr; gap: 20px; }
.blocks-grid-right-center { display: grid; grid-template-columns: 1fr 300px; gap: 20px; }
.blocks-grid-islands { vertical-align: top; align-items: top; }
.blocks-grid-content { width: auto; }
footer { width: auto; background-color: #000; color: #FFF; padding-top: 8px; padding-bottom: 8px; font-size: 12px;  margin-top: 80px;}
.content-grid { display: grid; grid-template-rows: auto auto 1fr auto; min-height: 100vh; }
.footer-grid { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px; }
.footer-grid-left { text-align: left; }
.footer-grid-center { text-align: center; }
.footer-grid-right { text-align: right; }
.double-column-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; align-items: center; }
.double-column-grid-left { text-align: left; }
.double-column-grid-right { text-align: right; }
.topic-item { width: auto; padding: 12px; background-color: #FFF; margin-top: 20px; border-radius: 5px; transition: 0.4s; }
.topic-item:hover { background-color: #F3F3F3; cursor: pointer; transition: 0.4s; } 
.topic-item ~ .topic-item { margin-top: 0px; }
.topic-item-title { font-weight: 900; font-size: 16px; }
.topic-item-info-grid { display: grid; grid-template-rows: 1fr 1fr; gap: 4px; text-align: right; }
.topic-item-grid { display: grid; grid-template-columns: 40px 1fr 200px; gap: 18px; }
.forum-bubble { border-radius: 5px; padding-left: 6px; padding-right: 6px; padding-top: 2px; padding-bottom: 2px; font-size: 11px; font-weight: bold; display: inline-block; }
.forum-bubble i { margin-right: 6px; }
.photo-thumbnail { width: 40px; height: 40px; border-radius: 50%; overflow: hidden; display: flex; justify-content: center; align-items: center; }
.photo-thumbnail img { width: 100%; height: 100%; display: block; object-fit: cover; }
.photo { width: 100px; height: 100px; border-radius: 50%; overflow: hidden; display: flex; justify-content: center; align-items: center; }
.photo img { width: 100%; height: 100%; display: block; object-fit: cover; }
.topic-item-info-grid-bottom { font-size: 11px; color: #808080; }
.topic-item-info-grid-bottom-grid { display: grid; grid-template-rows: 1fr auto; gap: 0px; }
.topic-item-title-grid { display: grid; grid-template-rows: auto auto auto; gap: 2px; }
.topic-item-preview { font-size: 11px; color: #808080; }
.topic-item-stats { font-size: 12px; }
.topic-item-stat-item { border-radius: 5px; padding-left: 6px; padding-right: 6px; padding-top: 2px; padding-bottom: 2px; font-size: 11px; font-weight: bold; display: inline-block; margin-left: 0px; background-color: #D8E8FA; color: #000; margin-top: 8px; }
.topic-item-stat-item ~ .topic-item-stat-item { margin-left: 10px; }
.topic-item-stat-item i { margin-right: 6px; }
.island-header { width: auto; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #0C356A; color: #FFF; padding: 12px; font-weight: 400; font-size: 16px; text-transform: uppercase; letter-spacing: 1px; margin-top: 0px; }
.island-content { width: auto; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: #F6FAFE; border: 1px solid #ADD1F5; margin-top: 2px; }
.island-content-padding { padding: 12px; }
.island-header ~ .island-header { margin-top: 20px; }
.centered-margin-top { width: auto; text-align: center; margin-top: 40px; }
.tag-flex { margin: 8px 0; margin-top: -6px; }
.tag { display: inline-block; margin-left: 0; }
.tag ~ .tag { margin-left: 6px; }
.item-rows i { width: 24px; }
.centered { text-align: center; }
.italic { font-style: italic; }
.forums-list-child i { margin-left: 8px; margin-right: -8px; }
.fixed-width { width: 300px; }
.flexible-width { width: 100%; }
.no-photo { width: 100px; height: 100px; border-radius: 50%; background-color: #808080; display: flex; justify-content: center; align-items: center; font-size: 24px; color: #000; }
.no-photo-thumbnail { width: 40px; height: 40px; border-radius: 50%; background-color: #808080; display: flex; justify-content: center; align-items: center; font-size: 24px; color: #000; }
.ajax-error-model-body { width: auto; margin-top: 20px; }
.ajax-error-box { width: auto; border-radius: 5px; background-color: #F9F9F9; border: 1px solid #808080; padding: 20px; margin-top: 20px; }
.ajax-error-model-body-grid { display: grid; grid-template-rows: auto auto auto; gap: 8px; }
.dialog { position: fixed; z-index: 50; left: 50%; top: 80px; transform: translateX(-50%); margin-top: 0px; border-radius: 5px; background-color: #FFF; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); display: none; }
.dialog-title { width: auto; padding: 20px; font-weight: bold; font-size: 18px; border-bottom: 1px solid #E9E9E9; }
.dialog-title-grid { display: grid; grid-template-columns: auto auto; gap: 10px; align-items: center; }
.dialog-title-x { text-align: right; font-size: 20px; }
.dialog-body { width: auto; padding: 20px; border-bottom: 1px solid #E9E9E9; }
.dialog-footer { width: auto; padding: 20px; text-align: center; }
.background-disabler { width: 100%; box-sizing: border-box; height: 100vh; position: fixed; z-index: 30; background-color: rgba(3, 57, 108, 0.5); top: 0; bottom: 0; left: 0; right: 0; display: none; }
.dialog-primary-button i, .dialog-secondary-button i, .dialog-tertiary-button i { margin-right: 8px; }
.ajax-load-bar { position: fixed; top: 0; left: 0; width: 0; height: 5px; background-color: #0C356A; z-index: 70; display: block; }